<h1><%= @band.name %></h1>

<ul>
  <% @albums[0..5].each do |album| %>
  <li>
    <%= link_to album.name, album_url(album) %>
  </li>
  <% end %>
</ul>
<br>
<%= link_to "More albums", band_albums_url(@band.id) %>
<br>
<%= link_to "Edit Band", edit_band_url(@band) %>